<footer class="site-footer">
  <span>&copy; {{ site.time | date: '%Y' }} {{ site.social.name }}</span>
  <div class="footer-links">
    <a href="https://github.com/{{ site.github.username }}" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" rel="noopener"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://scholar.google.com/citations?user=UKAB_04AAAAJ" target="_blank" rel="noopener"><i class="fa-solid fa-graduation-cap"></i></a>
    <a href="https://unsplash.com/@anishlk" target="_blank" rel="noopener"><i class="fa-brands fa-unsplash"></i></a>
    <a href="mailto:{{ site.social.email }}"><i class="fa-solid fa-envelope"></i></a>
  </div>
</footer>
