<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }}, {% endif %}Anish Lakkapragada</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" type="image/svg+xml" href="/assets/img/favicons/favicon.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link href="/assets/css/plain.css" rel="stylesheet">
    <link href="/assets/css/rouge.css" rel="stylesheet">
    {% if page.math %}
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
          tags: 'ams'
        }
      };
    </script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-chtml.js"></script>
    {% endif %}
  </head>
  <body class="{% if page.wide %}wide{% endif %}{% if page.link_list %} link-list{% endif %}">

    <p class="crumb"><a href="{{ page.back | default: '/' }}" aria-label="back">←</a></p>

    {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}

    {{ content }}

  </body>
</html>
